*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    overflow: hidden;
    background-image: url(./images/background\ image.jpg);
    background-position: center;
    background-size: 50vw;
    background-repeat: no-repeat;
}
.clock-board{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 0.7vw solid #39393a;
    background-color: white;
    position: relative;
    left: 40vw;
    top: 4vw;
    box-shadow: inset 4px -4px 6px #f8e21a,
                inset  -4px 4px 6px #4978f7;
                /* inset 4px 5px 6px #64c5eb,
                inset -5px -5px 6px #58b350; */
}
.brand-name{
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    top: 3.2vw;
    left: 7.3vw;
}
.sub-name{
    font-size: 0.9rem;
    position: absolute;
    top: 14.5vw;
    left: 7.3vw;
}
.center-dot{
    width: 0.2vw;
    height: 0.2vw;
    border-radius: 50%;
    border: 0.5vw solid black;
    position: absolute;
    right: 9vw;
    top: 8.9vw;
    box-shadow: 0 0 3px;
    z-index: 5;
}
.numbers{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    transform: rotate(90deg);
    
}
.number{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    transform: rotate(calc(var(--1) * 30deg));
    padding: 1.4vw;
}
.number span{
    transform: rotate(calc(var(--1) * -30deg - 90deg));
}
.sides-dot{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    transform: rotate(calc(var(--y) * 6deg));
    padding: 0.3vw;
}
.sides-dot::before{
    content: "";
    width: 0.6vw;
    height: 0.38vw;
    background-color: #050505;
    border-radius: 50%;
}

.hand-wrapper{
    width: 13vw;
    height: 13vw;
    position: absolute;
    top: 3vw;
    left: 3vw;
    border-radius: 50%;
}
.hand{
    transform-origin: 50% 100%;
    bottom: 50%;
    left: 50%;
}
.minute-hand{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.minute-hand .hand{
    width: 0.2vw;
    height: 8vw;
    background-color: #080808;
    position: absolute;
    z-index: 2;
    left: 6.2vw;
    top: -0.2vw;
}
.minute-hand .arrow{
    font-size: 1.3rem;
    font-weight: bold;
    color: #050505;
    transform: rotate(180deg);
    position: absolute;
    left: 5.75vw;
    top: -0.7vw;
}
.hour-hand{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.hour-hand .hand{
    width: 0.35vw;
    height: 5.5vw;
    background-color: #050505;
    position: absolute;
    left: 6.23vw;
    top: 1.8vw;
    z-index: 1;
}
.hour-hand .arrow{
    font-size: 1.3rem;
    font-weight: bold;
    color: #050505;
    transform: rotate(180deg);
    position: absolute;
    left: 5.87vw;
    top: 1.1vw;
}
.seconds-hand{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.seconds-hand .hand{
    width: 0.13vw;
    height: 10vw;
    background-color: #f1242e;
    position: absolute;
    z-index: 3;
    left: 6.25vw;
    top: -2.2vw;
}

